name: Python unit-testing and ruff linting

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  test-linux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6.0.1

    - name: provision-with-micromamba
      uses: mamba-org/setup-micromamba@v2
      with:
        environment-file: environment.yaml
        environment-name: pyaffald
        cache-environment: true

    - name: Lint with Ruff
      shell: bash -l {0}
      run: |
        # stop the build if there are Python syntax errors or undefined names
        ruff check --config pyproject.toml

    - name: Test unittests
      shell: bash -l {0}
      env:
        CI: "true"
      run: |
        env | grep -E 'CI|TZ'

        TZ=UTC pytest tests --disable-warnings

        TZ=Europe/Copenhagen pytest tests --disable-warnings
